<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>iconSize</param-name>
        <param-value>150</param-value>
    </context-param>
    <context-param>
        <param-name>solrURL</param-name>
        <param-value>http://localhost:8983/solr/db/</param-value>
    </context-param>
    <context-param>
        <param-name>imgFormat</param-name>
        <param-value>png</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>TempImageServlet</servlet-name>
        <servlet-class>org.bjm.servlet.TempImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserImageServlet</servlet-name>
        <servlet-class>org.bjm.servlet.UserImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SurveyCreatorImageServlet</servlet-name>
        <servlet-class>org.bjm.servlet.SurveyCreatorImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForumCreatorImageServlet</servlet-name>
        <servlet-class>org.bjm.servlet.ForumCreatorImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PieChartServlet</servlet-name>
        <servlet-class>org.bjm.servlet.PieChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEngineServlet</servlet-name>
        <servlet-class>org.bjm.servlet.SearchEngineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogCommentImageServlet</servlet-name>
        <servlet-class>org.bjm.servlet.BlogCommentImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NominateServlet</servlet-name>
        <servlet-class>org.bjm.rest.NominateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TempImageServlet</servlet-name>
        <url-pattern>/TempImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserImageServlet</servlet-name>
        <url-pattern>/UserImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurveyCreatorImageServlet</servlet-name>
        <url-pattern>/SurveyCreatorImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForumCreatorImageServlet</servlet-name>
        <url-pattern>/ForumCreatorImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PieChartServlet</servlet-name>
        <url-pattern>/PieChartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEngineServlet</servlet-name>
        <url-pattern>/SearchEngineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogCommentImageServlet</servlet-name>
        <url-pattern>/BlogCommentImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NominateServlet</servlet-name>
        <url-pattern>/NominateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>401</error-code>
        <location>/error401.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.xhtml</location>
    </error-page>
</web-app>
